.resource-page {
  padding-top: 0;

  &__container {
    background-color: $books-clear;
    height: 400px;
  }

  &__header-container {
    position: relative;
  }

  &__content-container {
    background-color: $creme;
    padding-top: 160px;
    padding-bottom: 60px;
  }

  &__header {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #fff;
    padding: 30px;
    border-radius: 6px;
    min-height: 420px;
    @include box-shadow(2px 2px 4px rgba(0,0,0,.1));
  }

  &__content {
    padding: 0 40px;
  }

  &__header--books {
    background-color: $books-clear;
  }

  &__header--article {
    background-color: $articles-clear;
  }

  &__header--report {
    background-color: $reports-clear;
  }

  &__type {
    line-height: 50px;
  }

  &__type--books {
    color: $books-dark;
  }

  &__type--article {
    color: $articles-dark;
  }

  &__type--report {
    color: $reports-dark;
  }

  &__title {
    margin-bottom: 0;
    line-height: 62px;
    font-size: 52px;
  }

  &__empty-content-viewer {
    text-align: center;
    padding: 20px 0;

    i {
      font-size: 6em;
      margin-bottom: 10px;
    }

    p {

    }
  }
}
