.btn--margin-right {
  margin-right: 10px;
}

.btn--margin-left {
  margin-left: 10px;
}

.btn--tag-like {
  padding: 0px 6px;
  border-radius: 6px;
  width: 90px;
  height: 25px;
}

.btn--large {
  padding: 12px 30px;
  font-size: 16px;
  font-weight: normal;
}

.btn--picture-cover {
  border-radius: 25px;
  height: 36px;
  width: 36px;
  background-color: $gc-dark-blue;
  border: 1px solid #fff;
  color: #fff;
  padding: 6px 0;
  margin-top: -6px;
  margin-left: -18px;
}

.btn--picture-cover:hover,
.btn--picture-cover:focus,
.btn--picture-cover:active {
  background-color: #425762;
  color: #fff;
}

@mixin gc-button($name, $color, $dark, $font-color) {
  .btn-#{$name} {
    color: $font-color;
    background-color: $color;
    border-color: $color;
    text-transform: none;
    font-weight: normal;
    border-radius: 6px;
    @include box-shadow(none);
  }

  .btn-#{$name}:hover,
  .btn-#{$name}:focus,
  .btn-#{$name}:active,
  .btn-#{$name}.active,
  .open .dropdown-toggle.btn-#{$name} {
    color: $font-color;
    background-color: $dark;
    border-color: $dark;
  }

  .btn-#{$name}:active,
  .btn-#{$name}.active,
  .open .dropdown-toggle.btn-#{$name} {
    background-image: none;
  }

  .btn-#{$name}.disabled,
  .btn-#{$name}[disabled],
  fieldset[disabled] .btn-#{$name},
  .btn-#{$name}.disabled:hover,
  .btn-#{$name}[disabled]:hover,
  fieldset[disabled] .btn-#{$name}:hover,
  .btn-#{$name}.disabled:focus,
  .btn-#{$name}[disabled]:focus,
  fieldset[disabled] .btn-#{$name}:focus,
  .btn-#{$name}.disabled:active,
  .btn-#{$name}[disabled]:active,
  fieldset[disabled] .btn-#{$name}:active,
  .btn-#{$name}.disabled.active,
  .btn-#{$name}[disabled].active,
  fieldset[disabled] .btn-#{$name}.active {
    background-color: $dark;
    border-color: $dark;
  }

  .btn-#{$name} .badge {
    color: #EF5350;
    background-color: #FFFFFF;
  }
}

@include gc-button('gc', $gc-secondary-blue, $gc-secondary-dark-blue, #fff);
@include gc-button('clear-blue', $gc-blue, $gc-turquoise, #fff);
@include gc-button('dark-blue', $gc-dark-blue, #425762, #fff);
@include gc-button('white-blue', #fff, $gray-lighter, $gc-blue);

@include gc-button('book', $books-dark, $books-darker, #fff);
@include gc-button('article', $articles-dark, $articles-darker, #fff);
@include gc-button('report', $reports-dark, $reports-darker, #fff);
@include gc-button('url', $urls-dark, $urls-darker, #fff);

@include gc-button('networks', $networks-dark, $networks-darker, #fff);
@include gc-button('lists', $lists-dark, $lists-darker, #fff);
@include gc-button('lists', $lists-dark, $lists-darker, #fff);

// White button
.btn-white {
  color: $gc-gray;
  background-color: #FFF;
  border: 1px solid $gray-lighter;
  @include box-shadow(none);
  text-transform: none;
  font-weight: normal;
  border-radius: 6px;
}

.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white {
  background-color: $gray-lighter;
}

.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white {
  background-image: none;
}

.btn-white.disabled,
.btn-white[disabled],
fieldset[disabled] .btn-white,
.btn-white.disabled:hover,
.btn-white[disabled]:hover,
fieldset[disabled] .btn-white:hover,
.btn-white.disabled:focus,
.btn-white[disabled]:focus,
fieldset[disabled] .btn-white:focus,
.btn-white.disabled:active,
.btn-white[disabled]:active,
fieldset[disabled] .btn-white:active,
.btn-white.disabled.active,
.btn-white[disabled].active,
fieldset[disabled] .btn-white.active {
  background-color: #EF5350;
  border-color: #EF5350;
}

.btn-white .badge {
  color: #EF5350;
  background-color: #FFFFFF;
}

.btn-white-transparent {
  color: $gc-dark-gray;
  background-color: transparent;
  border: 1px solid $gc-clear-blue;
  @include box-shadow(none);
  text-transform: none;
  font-weight: normal;
  font-size: 16px;
  border-radius: 6px;

  i {
    color: $gc-clear-blue;
  }
}

.btn-white-transparent:hover,
.btn-white-transparent:focus,
.btn-white-transparent:active,
.btn-white-transparent.active,
.open .dropdown-toggle.btn-white-transparent {
  background-color: $gray-lighter;
}

.btn-gc-transparent {
  color: #fff;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  @include box-shadow(none);
  text-transform: none;
  font-weight: normal;
  border-radius: 6px;

  i {
    color: #fff;
  }
}

.btn-gc-transparent:hover,
.btn-gc-transparent:focus,
.btn-gc-transparent:active,
.btn-gc-transparent.active,
.open .dropdown-toggle.btn-gc-transparent {
  background-color: transparent;
  color: #fff;
}
