.form-control.gc-select,
.form-control.gc-select:focus {
  border: 0;
  box-shadow: none;
  font-size: 14px;
  font-weight: bold;
}

.form-group .form-control-feedback {
  pointer-events: initial;

  &:hover {
    text-decoration: none;
  }
}

.form-control {
  @include box-shadow(none);
}

.input--tag-like {
  padding: 0px 6px;
  border-radius: 6px;
  width: 90px;
  height: 25px;
  display: inline-block;
  margin: 0 8px 8px 0;
}

textarea,
textarea.form-control,
input.form-control,
input[type=text],
input[type=password],
input[type=email],
input[type=number],
[type=text].form-control,
[type=password].form-control,
[type=email].form-control,
[type=tel].form-control,
[contenteditable].form-control {
  background-color: #fff;
  font-size: 14px;
  color: $gc-dark-gray;
  border-radius: 6px;
}
