.form-control.gc-select, .form-control.gc-select:focus {
  border: 0;
  box-shadow: none;
  font-size: 14px;
  font-weight: bold;
}

.form-group .form-control-feedback {
  pointer-events: initial;

  &:hover {
    text-decoration: none;
  }
}

.form-control {
  @include box-shadow(none);
}
