.glyphicon--right {
  margin-right: 10px;
}

.glyphicon--left {
  margin-left: 10px;
}

.glyphicon--left-double {
  margin-left: 20px;
}

.glyphicon--giant {
  font-size: 1.6em;
  color: $gc-clear-gray;
}
