<% if alert.present? %>
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
      <div class="alert alert-warning alert-dismissable">
        <a href="#" data-dismiss="alert" class="close">×</a>
        <%= alert %>
      </div>
    </div>
  </div>
<% end %>

<% if notice.present? %>
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
      <div class="alert alert-info alert-dismissable">
        <a href="#" data-dismiss="alert" class="close">×</a>
        <%= notice %>
      </div>
    </div>
  </div>
<% end %>
