<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Green Commons</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse">
      <% if user_signed_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= current_user.email %> <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <!-- <li><a href="#">Profile</a></li> -->
              <li><%= link_to('Logout', destroy_user_session_path) %></li>
            </ul>
          </li>
        </ul>
      <% else %>
        <form class="navbar-form navbar-right">
          <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-default' %>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'Sign In', new_user_session_path  %></li>
        </ul>
      <% end %>

    </div>
  </div>
</nav>
