.autocomplete-form {
  position: relative;

  &__input--loading {
    background: image-url("ajax-loader.gif") no-repeat scroll 98%;
  }

  &__suggestions {
    background: $autocomplete-bg-color;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    display: block;
    margin: 0;
    padding: 0 15px;
  }

  &__suggestion {
    background: inherit;
    border-color: $autocomplete-border-color;
    border-style: solid;
    border-width: 0 1px;
    display: block;
    font-size: 14px;
    font-weight: normal;
    padding: 4px 12px;
  }

  &__suggestion:last-child {
    border-radius: 0 0 2px 2px;
    border-width: 0 1px 1px;
  }

  &__suggestion:hover {
    background: none repeat scroll 0 0 $autocomplete-hover-color;
    cursor: pointer;
  }
}
