.entity-icon {
  width: 50px;
  height: 50px;
  float: left;
  display: inline-block;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
  border-radius: 6px;
  margin-right: 15px;

  &--big {
    font-size: 24px;
    line-height: 80px;
    width: 80px;
    height: 80px;
    margin-right: 20px;
  }

  &--book {
    background-color: $books-clear;
    color: $books-dark;
  }

  &--article {
    background-color: $articles-clear;
    color: $articles-dark;
  }

  &--report {
    background-color: $reports-clear;
    color: $reports-dark;
  }

  &--url {
    background-color: $urls-clear;
    color: $urls-dark;
  }

  &--groups {
    background-color: $groups-clear;
    color: $groups-dark;
  }

  &--lists {
    background-color: $lists-clear;
    color: $lists-dark;
  }
}
