.filters {
  width: 100%;
  margin-bottom: 30px;

  &__title {
    padding-bottom: 4px;
    margin-bottom: 14px;
    border-bottom: 1px solid $gray-lighter;
  }

  &__list {
    list-style: none;
    padding-left: 20px;
  }
  
  &__item {
    margin-bottom: 8px;
  }
}
