.form-box {
  border: 1px solid $gray-lighter;
  @include box-shadow(2px 2px 4px rgba(0,0,0,.1));
  border-radius: 6px;
  background-color: #fff;
  margin-top: 100px;
  margin-bottom: 100px;

  &--middle {
    margin-top: 200px;
    margin-bottom: 200px;
  }

  &--modal {
    width: 100%;
  }

  &__title {
    padding: 20px 30px;
    border-bottom: 1px solid $gray-lighter;

    h1, h2, h3, h4, h5, h6 {
      font-size: 18px;
      margin: 0;
    }
  }

  &__body {
    padding: 20px 30px;

  }
}
