.hero-box {
  border-radius: 5px;
  background: #39CBFE;
  color: #FFFFFF;
  padding: 42px;
  margin-bottom: 20px;

  &--blue {
    background: #47D0FF;
    box-shadow: 0 8px 20px -8px #69CFF9;
  }

  &--green {
    background: #40E7C2;
    box-shadow: 0 8px 20px -8px #78E6CA;
  }

  &--orange {
    background: #F3D175;
    box-shadow: 0 8px 20px -8px #F1D78C;
  }

  &__title {
    margin-top: 20px;
    font-size: 18px;
    letter-spacing: 1.7px;
    margin-bottom: 0;
  }

  &__description {
    margin-top: 6px;
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 0;
  }

  &__description--blue {
    color: #D7F5FF;
  }

  &__description--green {
    color: #DAFDF5;
  }

  &__description--orange {
    color: #FFF;
  }
}
