.navbar {
  margin-bottom: 0;
  border-bottom: 1px solid $gc-clear-gray;
  @include box-shadow(none);

  &--dissolve {
    border-bottom: none;
    padding-top: 25px;
  }

  &-brand {
    font-size: 14px;
    font-weight: 500;
  }

  &-brand--dissolve {
    padding: 0;
    padding-top: 8.5px;
    padding-left: 15.5px;
  }

  &-brand-logo {
    float: left;
    margin-right: 20px;
  }

  &-brand-name {
    line-height: 37px;
    display: inline-block;
    color: #fff;
  }

  &-nav > li {
    padding-left: 2px;
    padding-right: 2px;
  }

  &-profile-image {
    img {
      width: 40px;
      height: 40px;
      border: 1px solid #fff;
      padding: 3px;
      margin-top: 7px;
      position: relative;
    }
  }

  &-button__badge {
    position: absolute;
    top: 8px;
    right: 2px;
    background-color: #f4c652;
    width: 10px;
    height: 10px;
    border-radius: 10px;
  }

  .navbar-form &__search-input {
    width: 400px;
  }

  &__search-button {
    border: none;
    background: none;

    &:focus {
      outline: none;
    }
  }

  &__no-bg {
    color: #fff;
    background: none !important;
  }

  &__no-bg:focus, &__no-bg:active, &__no-bg.active, &__no-bg:hover {
    color: #fff !important;
    background: none !important;
  }
}
