.summary-card {
  margin-bottom: 30px;
  width: 100%;

  &__body {
    padding: 25px;
    width: 100%;
    border: 1px solid $gc-clear-blue;
    border-radius: 6px;
    background: #fff;
    position: relative;
  }

  &__body:hover > &__delete {
    display: block;
  }

  &__delete {
    background-color: #fff;
    width: 40px;
    height: 40px;
    position: absolute;
    @include box-shadow(1px 1px 4px rgba(0,0,0,.4));
    right: -15px;
    top: -15px;
    text-align: center;
    font-size: 1.6em;
    border-radius: 25px;
    display: none;

    a {
      color: $gc-gray;
    }
  }

  &__row {
    margin-bottom: 10px;
  }

  &__row--double {
    margin-bottom: 20px;
  }

  &__row--last {
    margin-bottom: 0;
  }

  &__row--min-height {
    min-height: 46px;
  }

  &__metadata {
    float: right;
    margin-right: 20px;
    color: $gray-light;
    line-height: 35px;
  }

  &__metadata--left {
    float: left;
  }

  &__metadata--last {
    margin-right: 0;
  }

  &__metadata--link {
    text-align: center;
    margin-bottom: 10px;
    float: left;
    margin-right: 10px;
  }

  &__margin-right {
    margin-right: 10px;
  }

  &__top-actions, &__bottom-actions {
    float: left;
    width: 100%;
  }

  &__more {
    display: inline-block;
    float: left;
  }

  &__more--space {
    margin-right: 5%;
  }

  &__more--buttons {
    width: 30%;
  }

  &__more--meta {
    width: 65%;
    min-width: 300px;
  }

  &__actions {
    margin-top: 5px;
    text-align: right;
  }

  &__actions--left {
    text-align: left;
  }

  &__title {
    line-height: 30px;
    display: inline-block;
    width: 80%;
    max-width: 80%;
    float: left;

    h5 {
      margin-top: 6px;
      margin-bottom: 6px;
      line-height: 24px;
    }

    h6 {
      color: $gray-light;
      font-size: 14px;
      margin: 0;
    }
  }

  &__relevancy {
    font-size: 13px;
    display: inline-block;
    float: right;
    background-color: #5f7d8c;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    color: #fff;
    padding: 13px;
    text-align: center;
  }

  .col-* {
    padding: 0;
  }

  p {
    margin: 0;
    color: $gray-mid-light;
  }

  img {
    width: 100%;
  }
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .summary-card {
    &__title {
      width: auto;
      float: left;
      display: inline-block;
    }

    &__top-actions, &__bottom-actions {
      width: auto;
      float: right;
      display: inline-block;
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
