.summary-card {
  margin-bottom: 30px;
  width: 100%;

  &__body {
    padding: 15px;
    width: 100%;
    @include box-shadow(0 1px 4px rgba(0,0,0,.3));
  }

  &__row {
    margin-bottom: 10px;
  }

  &__row--last {
    margin-bottom: 0;
  }

  &__row--min-height {
    min-height: 46px;
  }

  &__metadata {
    float: left;
    margin-right: 5%;
  }

  &__metadata--right {
    float: right;
    margin-right: 0;
  }

  &__more {
    float: right;
    text-align: right;
  }

  &__margin-right {
    margin-right: 10px;
  }

  &__more--space {
    margin-right: 30px;
  }

  &__actions {
    margin-top: 5px;
    text-align: right;
  }

  &__actions--left {
    text-align: left;
  }

  .col-* {
    padding: 0;
  }

  h5, p {
    margin: 0;
  }

  img {
    width: 100%;
  }
}
