.tags-list {
  margin-bottom: 10px;

  &__tag {
    display: inline-block;
    float: left;
    border: 1px solid $gc-gray;
    color: $gc-gray;
    padding: 0px 6px;
    border-radius: 6px;
    margin: 0 8px 8px 0;
  }

  &__tag--selected {
    color: $gc-dark-gray;
    background-color: $gc-blue-gray;
    border: 1px solid $gc-blue-gray;
  }

  &__tag--white {
    float: none;
    color: #fff;
    font-size: 15px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }

  &__tag--white:hover {
    color: rgba(255, 255, 255, 0.8);
  }
}
