.summary-card-container {
  margin-bottom: 30px;
  width: 100%;

  .summary-card {
    padding: 15px;
    width: 100%;
    @include box-shadow(0 1px 4px rgba(0,0,0,.3));

    .col-* {
      padding: 0;
    }

    .sc-row {
      margin-bottom: 10px;
    }

    .sc-row-last {}

    .sc-meta {
      float: left;
      margin-right: 5%;
    }

    .sc-more {
      float: right;
    }

    h5, p {
      margin: 0;
    }

    .glyphicon {
      margin-right: 10px;
    }

    img {
      width: 100%;
    }
  }

  .sc-actions {
    margin-top: 5px;
    text-align: right;
  }
}



.sc-member {

}
